# Django settings
SECRET_KEY=your_secret_key_here
DEBUG=True
USE_POSTGRES=False
USE_LOCAL_MEDIA=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# PostgreSQL for production
# DATABASE_URL=postgres://user:password@host:port/dbname

# Render settings
# RENDER_EXTERNAL_HOSTNAME=your-app.onrender.com
